<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
        <%- include("./public/head.ejs")%>
</head>
      <body>
        <%- include("./public/header.ejs")%>
        <section class="main floatfix">
           <h2>404,你来到灭偶信息的沙漠</h2>
                </section>
        
      </body>
</html>