<!DOCTYPE html>
<html lang="en" class="login">
<head>
    <meta charset="UTF-8">
    <title>Jayjiao blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jayjiao的个人blog">
    <meta name="keywords" content="Node python">
    <link rel="stylesheet" href="/stylesheets/css/normalize.css/normalize.css" >
    <link rel="stylesheet" href="/stylesheets/css/main.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >
</head>
<body>
    <section>
            
    <form action="/login" method="POST">
        <div class="form-group">
            <input type="text" name="name" placeholder="please type your uersname">
        </div>
        <div class="form-group">  
            <input type="password" name="password" placeholder="password">
              <%if(message) {%>
                <p> <%= message %> </p>
                <% } %>
        </div>
        <div class="form-group">
            <input type="submit" value="login in">
        </div>
    </form>
   </section> 
   <fooster>
       <p>copyright @2018 Jayjiao</p>
       <p>power by epress</p>
   </fooster>
   
</body>
</html>